* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

.div1 {
  background-image: url(../homePage/images/Blood-Donation-2.jpg);
  filter: blur(5px);
  /* filter: blur(8px) grayscale(50%) sepia(30%); */
  height: 1000px;
  width: 100%;
}

.overly {
  height: 1000px;
  width: 100%;
  background-color: ;
  position: sticky;
  top: 0;
}

.div1 img {
  width: 100%;
}
